*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid black;
}

.header a {
  font-size: 2rem;
}

.header ul {
  display: flex;
  gap: 1rem;
}

.header ul li {
  list-style: none;
}

.card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  margin: 30px;
}

.shimmerUi {
  display: flex;
  flex-wrap: wrap;
}

.shimmer {
  border: 1px solid #a4a4a4;
  width: 200px;
  padding: 10px;
  margin: 10px 20px;
}

.shimmer > .img {
  width: 100%;
  height: 130px;
  background-color: #cbcbcb;
  margin-bottom: 20px;
  border-radius: 5px;
}
.shimmer > .name {
  width: 100%;
  height: 30px;
  background-color: #cdcdcd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.res-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  padding: 20px 0;
}

.res-img img {
  width: 90%;
  border-radius: 7px;
}

.cuisine{
  display: flex;
  gap: 1rem;
}

.delivery{
  margin-top: 40px;
  display: flex;
  gap: 1rem;
}

.title-toggle{
  display: flex;
}
